.etabs-nav-buttons {
  position: fixed;
  top: 5px;
  left: 5px;
}

.etabs-nav-buttons button {
  color: #333;
  background: none;
  border: none;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.etabs-buttons button:hover,
.etabs-nav-buttons button:hover {
  color: #eee;
  background-color: #aaa;
}